language: cpp
os: linux
sudo: required
dist: trusty
compiler: gcc
before_script:
    - sudo apt-get update -qq
    - sudo apt-get install -y libboost-dev libboost-program-options-dev
script: cd dng-mcts; ./build; cd ..; cd d2ng-pomcp; ./run.sh
notifications:
    email:
        recipients: aijunbai@gmail.com
        on_success: change
        on_failure: always

